.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
}

.error {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  background-color: #0F1318;
  font-weight: 500;
  font-size: 18px;
  padding: 17px 26px;
}

.button {
  background-color: #eb0237;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 40px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #a01131;
}

.button:disabled {
  background-color: #701328;
}

.button__text {
  font-weight: 600;
  font-size: 18px;
}

.logo {
  margin-bottom: 6px;
}

.button__icon {
  transition: transform 0.2s ease-in;
  -webkit-transition: transform 0.2s ease-in;
  -moz-transition: transform 0.2s ease-in;
  -ms-transition: transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in;
}

.button__icon_active {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}